.articlesListContainer{
  width:740px;
}
.articlesList{
  display:flex;
  width:710px;
  height: 140px;
  margin-top:20px;
  margin-bottom:20px;
  img{
    width:264px;
  }
  ul{
    display:flex;
    list-style-type: none;
    padding-left: 0px;
  }
  li{
    padding-right:3px;
  }
}
