<div class="smallFeaturedContainer">
  <div class="smallerFeaturedArticles" *ngFor="let i = index; let currentArticle of articles | async | slice: 0: 3" >
    <img [src]=currentArticle.imageUrl alt="article image">
    <div>

      <h3>{{currentArticle.title}}</h3>
      <p>{{currentArticle.content}}</p>
      <p>{{currentArticle.comments}}</p>
      <ul>
        <li>{{currentArticle.date}}</li>
        <li>/</li>
        <li>{{currentArticle.author}}</li>
      </ul>
    </div>
  </div>
</div>
